[submodule "external/RXDK-Tools"]

	path = external/RXDK-Tools

	url = https://github.com/Team-Resurgent/RXDK-Tools

[submodule "external/xdvdfs"]

	path = external/xdvdfs

	url = https://github.com/antangelo/xdvdfs

	ignore = untracked
