[submodule "external/RXDK-Tools"]
	path = external/RXDK-Tools
	url = https://github.com/Team-Resurgent/RXDK-Tools
[submodule "external/RXDK-Libs"]
	path = external/RXDK-Libs
	url = https://github.com/Team-Resurgent/RXDK-Libs
